@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playwrite CU Guides', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='24' viewBox='0 0 88 24'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='autumn' fill='%230042ff' fill-opacity='0.85'%3E%3Cpath d='M10 0l30 15 2 1V2.18A10 10 0 0 0 41.76 0H39.7a8 8 0 0 1 .3 2.18v10.58L14.47 0H10zm31.76 24a10 10 0 0 0-5.29-6.76L4 1 2 0v13.82a10 10 0 0 0 5.53 8.94L10 24h4.47l-6.05-3.02A8 8 0 0 1 4 13.82V3.24l31.58 15.78A8 8 0 0 1 39.7 24h2.06zM78 24l2.47-1.24A10 10 0 0 0 86 13.82V0l-2 1-32.47 16.24A10 10 0 0 0 46.24 24h2.06a8 8 0 0 1 4.12-4.98L84 3.24v10.58a8 8 0 0 1-4.42 7.16L73.53 24H78zm0-24L48 15l-2 1V2.18A10 10 0 0 1 46.24 0h2.06a8 8 0 0 0-.3 2.18v10.58L73.53 0H78z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


.container{
    width: 40rem;
    border: 1px solid gray;
    padding: 1rem;
    background: white;
    text-align: center;
    border-radius: 5px;
}
.count {
    font-size: 4rem;
    padding: 0 1rem;
    text-align: center;
}

input[type="text"] {
    display: block;
    font-size: 16px;
    border: 1px solid #dedede;
    border-radius: 2px;
    padding: 10px;
    width: 100%;
    outline: none;
}
.assignment {
    text-align: center;
    margin-top: 20px;
}

.assignment h2 {
    color: darkblue;
    font-size: 2.5rem; 
    margin-bottom: 10px;
}

.assignment p {
    font-size: 1.5rem; 
    font-weight: bold;
}